<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!--    spring profile 로드-->
    <springProperty name="LOG_PATH" source="logging.file.path"/>
    <springProperty name="LOG_FILE" source="logging.file.name"/>
    <springProperty name="MAX_FILE_SIZE" source="logging.logback.rollingpolicy.max-file-size"/>
    <springProperty name="MAX_HISTORY" source="logging.logback.rollingpolicy.max-history"/>
    <springProperty name="TOTAL_SIZE_CAP" source="logging.logback.rollingpolicy.total-size-cap"/>
    <springProperty name="SLACK_WEBHOOK" source="slack.webhook-url"/>

    <!-- Log Pattern (MDC requestId 포함) -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan([requestId=%X{requestId}]) %logger{36} - %msg%n"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File Appender (ALL logs) -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/app.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ERROR File Appender -->
    <appender name="ERROR_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/error.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>

            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Slack Appender -->
    <appender name="SLACK"
              class="com.github.maricn.logback.SlackAppender">

        <webhookUri>${SLACK_WEBHOOK}</webhookUri>
        <username>error-bot</username>
        <iconEmoji>:rotating_light:</iconEmoji>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>🔥🔥 *[500 INTERNAL SERVER ERROR]* 🔥🔥%n• *Message*: %msg%n• *RequestId*: %X{requestId}%n• *Exception*: %ex{short}%n```%n%rEx{10}%n```</pattern>
        </layout>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK" />
    </appender>

    <!-- Spring Profiles -->

    <!-- local : debug 레벨 콘솔만 출력 -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- test : info 레벨 콘솔만 출력 -->
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- dev : 파일 + 에러 처리기 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR_FILE"/>
            <appender-ref ref="ASYNC_SLACK"/>
        </root>
    </springProfile>

</configuration>
